body {
    background-color: gainsboro;
    margin: auto;
    font-family:'Xanh Mono', monospace;
    background-image: url(https://wallpapercave.com/wp/wp4021674.jpg);
    background-size: cover;
    background-position: center;
}

#title {
    text-align: center;
}

#description {
    margin-bottom: 30px;
    text-align: center;
}

#container {
    margin-left: auto;
    margin-right: auto;
}

#survey-form {
    background-color: rgba(153, 145, 148, 0.8);
    border-radius: 5px;
    padding: 40px 40px 40px 40px;
    margin: auto;
}

.form-inputs {
    display: block;
    width: 94%;
    height: 32px;
    padding: 4px 12px;
    border-radius: 4px;
    border-style: none;
    font-family: inherit;
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

#dropdown {
    display: block;
    width: 100%;
    height: 45px;
    padding: 4px 10px;
    border-radius: 4px;
    border-style: none;
    font-family: inherit;
}

label {
    
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: white;
}

#textarea {
    width: 94%;
    padding: 10px 12px;
    font-family: inherit;
}

.input-radio, .input-checkbox {
    margin-right: 0.625rem;
    min-height: 1rem;
    min-width: 1rem;
}

#submit {
    width: 100%;
    height: 50px;
    border-style: hidden;
    border-radius: 2px;
    background-color: rgb(50, 190, 50);
    cursor: pointer;
    color: white;
    font-family: inherit;
    font-size: 18px;
}

@media (min-width: 576px) {
    #container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    #container {
        max-width: 720px;
    }
}

@media (min-width: 480px) {
    form {
        padding: 2.5rem;
    }
}